body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ebebeb;
}

.header {
    background-color: #411070;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo{
    width: 150px;
    padding-left: 30px;
}

.nav-menu {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
}

.container-img{
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.escola {
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.container-texto {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color:#411070;
    text-align: center;

}

p {
    color:#333333;
    font-size: 30px;
    line-height: 1.7;
}

